@import "../../../variable";

.summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2rem;

    &-images {
        width: calc(55% - 2rem);
    }

    &-info {
        width: calc(45% - 2rem);
    }

    &-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &-first {
            position: relative;
            z-index: -1;
        }

        &-second {
            position: relative;
            z-index: 4;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-main {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                width: 705px;
                height: 705px;
            }
        }

        &-bottom {
            cursor: pointer;
            border: 2px solid transparent;
            width: 60px;
            height: 60px;

            &:hover {
                border: 2px solid #ccc;
            }
        }
    }

    &-info {
        margin-top: 5rem;
    }

    &-product {

        &-name {

            font-size: 2.6rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }

        &-general {
            font-size: 2rem;
            font-weight: 500;
        }

        &-title {
            font-weight: 700;
            margin-right: 0.6rem;
        }

        &-text {
            font-weight: 400;
            font-size: 2rem;

            &--uppercase {
                text-transform: uppercase;
            }
        }

        &-list {
            list-style-type: none;
        }

        &-item {
            font-size: 2rem;
            position: relative;
            padding-left: 1.5rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 100rem;
                background: black;
            }
        }

        &-pricedisplay {
            margin-top: 3rem;
        }

        &-price {
            color: red;
            font-size: 3rem;
            font-weight: 500;
            margin-left: 1rem;
        }

        &-buybutton {
            background: $side-color;
            padding: 2rem;
            width: 100%;
            font-size: 2.4rem;
            outline: none;
            border: none;
            color: white;
            font-weight: 500;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 1.5rem;
            transition: all 50ms ease-in-out;

            &:hover {
                background: $secondary
            }
        }
    }
}

.description {}

// Slick styling

.slick-current .summary-images-bottom {
    cursor: default;
    border: 2px solid $secondary2;
}