.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.summary-images {
  width: calc(55% - 2rem);
}
.summary-info {
  width: calc(45% - 2rem);
}
.summary-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.summary-images-first {
  position: relative;
  z-index: 1;
}
.summary-images-second {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-images-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.summary-images-main img {
  width: 705px;
  height: 705px;
}
.summary-images-bottom {
  cursor: pointer;
  border: 2px solid transparent;
  width: 60px;
  height: 60px;
}
.summary-images-bottom:hover {
  border: 2px solid #ccc;
}
.summary-info {
  margin-top: 5rem;
}
.summary-product-name {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-family: "CharkaPetchBold";
}
.summary-product-general {
  font-size: 2rem;
  font-weight: 500;
}
.summary-product-title {
  font-weight: 700;
  margin-right: 0.6rem;
}
.summary-product-text {
  font-weight: 400;
  font-size: 2rem;
}
.summary-product-text--uppercase {
  text-transform: uppercase;
}
.summary-product-list {
  list-style-type: none;
}
.summary-product-item {
  font-size: 2rem;
  position: relative;
  padding-left: 1.5rem;
  font-family: "CharkaPetchRegular";
}
.summary-product-item:not(:last-child) {
  margin-bottom: 1rem;
}
.summary-product-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100rem;
  background: black;
}
.summary-product-pricedisplay:first-of-type {
  margin-top: 3rem;
}
.summary-product-price {
  color: red;
  font-size: 3rem;
  font-weight: 500;
  margin-left: 1rem;
  font-family: "CharkaPetchBold";
}
.summary-product-price--old {
  text-decoration: line-through;
  color: #888;
}
.summary-product-buybutton {
  background: #00448d;
  padding: 2rem;
  width: 100%;
  font-size: 2.4rem;
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 50ms ease-in-out;
  font-family: "CharkaPetchBold";
}
.summary-product-buybutton:hover {
  background: #F7A05A;
}

.description {
  font-size: 2rem;
}

.tabs-list {
  display: flex;
  width: 100%;
  background: #F0F3FC;
}
.tabs-item {
  padding: 1.5rem;
  font-family: "CharkaPetchBold";
  font-size: 2rem;
  background: #F0F3FC;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.tabs-item.active {
  color: white;
  background: #00448d;
}
.tabs-item:hover {
  color: white;
  background: #00448d;
}
.tabs-content-inner {
  opacity: 0;
  visibility: hidden;
  height: 0px;
}
.tabs-content-inner.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.specification {
  margin: 2rem auto;
  width: 80%;
}
.specification-header {
  text-transform: capitalize;
  font-family: "CharkaPetchSemiBold";
  text-indent: 1rem;
}
.specification-table {
  width: 100%;
}
.specification-table-row td {
  border: 1px solid #dddfe6;
}
.specification-table-title {
  background: #F0F3FC;
  font-size: 1.6rem;
  width: 255px;
  height: 46px;
  padding-left: 1rem;
  font-family: "CharkaPetchRegular";
}
.specification-table-data {
  font-size: 1.6rem;
  font-family: "CharkaPetchRegular";
  padding-left: 1.4rem;
}

.popup {
  position: fixed;
  top: 6rem;
  right: 3rem;
  width: 400px;
  padding: 3rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 6;
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}
.popup-icon .fa-circle-check {
  color: rgb(5, 233, 5);
}
.popup-icon .fa-circle-xmark {
  color: red;
}
.popup.success::before {
  content: "";
  width: 100%;
  height: 4px;
  background: rgb(5, 233, 5);
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-animation-name: barFillUp;
          animation-name: barFillUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  z-index: 5;
}
.popup.failed::before {
  content: "";
  width: 100%;
  height: 4px;
  background: red;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  -webkit-animation-name: barFillUp;
          animation-name: barFillUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 150ms ease-in-out;
}
.popup-close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: black;
  border-radius: 100rem;
  width: 0.5rem;
  height: 0.5rem;
  padding: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.popup-close i {
  font-size: 1.5rem;
  pointer-events: none;
}
.popup-text {
  font-size: 1.8rem;
}
.popup-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

@-webkit-keyframes barFillUp {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes barFillUp {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.slick-current .summary-images-bottom {
  cursor: default;
  border: 2px solid #29324E;
}/*# sourceMappingURL=productdetails.css.map */