.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
  font-family: "CharkaPetchRegular";
}
.form-failed {
  color: red;
  font-size: 1.7rem;
  font-weight: 500;
}
.form .control {
  margin: 0 0 24px;
}
.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: black;
  color: #fff;
  font-family: "CharkaPetchRegular";
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: 500;
}
.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}
.form .control input:hover::-moz-placeholder, .form .control input:focus::-moz-placeholder {
  color: rgb(217, 217, 217);
}
.form .control input:hover:-ms-input-placeholder, .form .control input:focus:-ms-input-placeholder {
  color: rgb(217, 217, 217);
}
.form .control input:hover::placeholder, .form .control input:focus::placeholder {
  color: rgb(217, 217, 217);
}
.form .control input::-moz-placeholder {
  color: rgb(176, 176, 176);
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.form .control input:-ms-input-placeholder {
  color: rgb(176, 176, 176);
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.form .control input::placeholder {
  color: rgb(176, 176, 176);
  transition: all 100ms ease-in-out;
}
.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: black;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}
.form .btn:hover {
  color: black;
}

.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: white;
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.block-cube .bg-right {
  position: absolute;
  background: white;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  background: black;
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  background: black;
  transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  background: black;
}
.block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 12rem;
}

.form-question {
  font-size: 2rem;
  color: black;
}

.form-signup {
  color: #6d9c00;
  font-size: 2rem;
}/*# sourceMappingURL=loginform.css.map */